
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* requirement mentioned in the assigment*/
main aside
{
    color: white;
    border-right: 1.5px solid black;
    background-color: #1e2757;
    width:20%;
    float: left;
    overflow: auto;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    position:fixed;
    z-index:4;
    border-right:2px solid black;




}

.navOptions
{
    color:white;
}

main section
{
    width:80%;
    float: right;
    height:100%;
    padding-bottom:10vh;

}
#logoAndTitle p
{
    color:#006bff;
    font-size: 70%;
    margin-bottom: 1%;
}
#contentInAside
{
    margin-top:8vh;
    margin-bottom: 50vh;
}

#lessonsContent
{
    margin-bottom: 6vh;
}

#lessonsContent h2
{
    display:inline;
    margin-left:5%;

}
nav ul li
{

    display: inline-block;
    margin-right:5%;
}



.dropdown-content a
{

    width:100%;
}
aside button
{
    margin-top:8vh;
    margin-left:20%;
    margin-right:20%;

}

section button
{
    margin-left:2.5%;
}
.primaryBtn
{
    height:6vh;
    font-size:1.2rem;
    border-radius: 12px;
    font-family: Verdana, Arial, sans-serif;
    width:fit-content;
    padding: 1% 1% 3% 1%;
    background-color: #f5d22f;
    border:0;
}

.card span
{
    font-size:1.3rem;
}
footer
{

    background-color:#1e2757;
    color:white;
    height:100%;
    width:100%;
    position: relative;
    padding-top:2vh;
    padding-bottom:6vh;
    z-index: 5;




}

#motivation
{
    margin-left:2%;

}

#motivation img
{
    margin-right:1%;

}



main section img
{
    width: 20%;
    border-radius: 12px;
    float:left;
}
main aside ol
{
    padding-left: 50px;
} /*here main aside ol is not needed, but we are keeping just in-case if in the future anytime if we add aside container and ol list in another container, we are able to  distinfuish between them and choose this correctly*/
a, a:visited{color: white; text-decoration: none;}/* text-decoration: none;  Keeps links clean without underlines */
.lesson_text{padding-left:30px;color: #3B4FA8; font-size: 30px;}

#logoAndTitle
{
    float:left;
    width:25%;
    margin-right:2.5%;


}

#quizText
{
    padding-left:20%;
}
img
{
    float:left;
    padding-left:10px;
}
#logo{

    width:27%;
    height:30%;
    max-height: 100%;
    margin-top: 3%;



}


aside ol.circled-list {
    list-style: none;
    counter-reset: my-counter;
    padding-left: 10%;
}

nav span span div a:hover {
    color: #fccd3b;
    border-bottom: 2px solid #fccd3b;
}



aside ol.circled-list li {
    counter-increment: my-counter;
    position: relative;
    padding-left: 40px;
    padding-top: 5px;


}

.card
{
    background-color: #006bff;
    border-radius: 12px;
    width: 90%;
    padding-top: 5%;
    height:10rem;
    padding-left:5%;
    padding-bottom: 3%;
    margin-left:5%;
    margin-right:5%;
}

.card label
{
    line-height:1.6;

}
aside ol.circled-list li::before {
    content: counter(my-counter);
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: #006bff;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}



#asideOptions
{
 background-color: yellow;
}



#asideTitleAndLogo
{

    margin-bottom: 1rem;
    margin-left:1.2rem;
}
aside div img
{
    width: 2.5rem;
}
#logoAndTitle h5
{
 color:#fccd3b;
    padding-top:5%;
    font-size:35px;

}

h5 span
{
    color:#006bff;
}

h1{
    padding: 2%;

}

h1 span{
    border-bottom:1.5px solid #284f90;
    padding-bottom:0.5%;

}
aside h2
{
    margin-bottom:4%;


}
 aside ol li
{
    margin-bottom:15%;
}
main section p{
    padding-left: 3%;padding-right: 3%;padding-bottom: 3%;

}

header{


    background-color:#1e2757;
    position:fixed;
    width: 100%;
    height: 12vh;



}
body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #1e2757;

}

h1, h2, h3 {
    font-family: Trebuchet MS, Arial, sans-serif;
}

main
{
    min-height:120vh;
    height:auto;
    background-color:#f2f4fa;
    padding-top:12vh;

}


/* This entire thing below is the dropdown stuff */

.dropdown {
  position: relative;
    display:inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #BEBEBE;
  min-width:9rem;
  left:0;

  padding: 12px 16px;

}

nav {
   height:100%;
    padding:2.5%;
}

nav a {
    font-size:1.5rem;
    color:white;
}





.clickableText:hover
{
    color: #fccd3b;
    border-bottom: 2px solid #fccd3b;
}

nav span
{
    font-size:1.5rem;
    color:white;
}
.dropdown:hover .dropdown-content {
  display: block;

}

